{% extends layout %} {% block content %}
<section class="section section--bg-lightblue intro">
  <div class="container">
    
        <div class="section__inner">
          <div class="section__content">
            <h1 class="title title--size-extra" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">Фирменная почта с&nbsp;вашим доменом</h1>
            <p class="text text--fz-30 text--blue" data-aos="fade-up" data-aos-offset="200" data-aos-delay="100">Красивый адрес электронной<br>почты&nbsp;&mdash; лицо компании!</p>
            <p class="text" data-aos="fade-up" data-aos-offset="200" data-aos-delay="100">от&nbsp;119&nbsp;₽ в&nbsp;месяц за&nbsp;1&nbsp;пользователя</p>
            <div data-aos="fade-up" data-aos-offset="200" data-aos-delay="150" class="mb20">
              {{ Macros.Btn('mailto:uc@stc-v.ru') }}
            </div>
          </div>
        </div>
        <div class="section__stage stage stage--height">
          <img class="stage__object" data-obj="1" src="{{ 'slide1.png' | img_asset }}" alt="" data-aos="fade-left" data-aos-offset="200">
        </div>
    
  </div>
</section>
<section class="for-what section section--twocolumn" id="for-what">
  <div class="container">
    <p class="title" data-aos="fade-up">Зачем бизнесу нужна корпоративная почта?</p>
    <div class="section__inner section__inner--no-padding section__inner--height-auto" data-aos="fade-right" data-aos-offset="100">
      <div class="for-what__content section__content">
        <div class="for-what__item" data-reason-bg="1" data-aos="fade-up">
          <p class="text text--blue for-what__title">Расширить объем ящиков<br>до&nbsp;50&nbsp;Гб на&nbsp;пользователя</p>
          <p class="text for-what__text">С&nbsp;почтовым сервисом от&nbsp;Microsoft всегда будет место для новых писем</p>
        </div>
        <div class="for-what__item" data-reason-bg="2" data-aos="fade-up">
          <p class="text text--blue for-what__title">Настроить действительно<br>эффективный спам-фильтр</p>
          <p class="text for-what__text">Он&nbsp;не&nbsp;пропустит нежелательные письма, вирусы и&nbsp;шифровальщики</p>
        </div>
        <div class="for-what__item" data-reason-bg="3" data-aos="fade-up">
          <p class="text text--blue for-what__title">Защитить компанию<br>от&nbsp;взлома ящиков и&nbsp;утечки данных</p>
          <p class="text for-what__text">Ваши конфиденциальные данные не&nbsp;попадут ни&nbsp;к&nbsp;мошенникам, ни&nbsp;к&nbsp;провайдеру</p>
        </div>
        <div class="for-what__item" data-reason-bg="4" data-aos="fade-up">
          <p class="text text--blue for-what__title">Избавиться от&nbsp;рекламы в&nbsp;почтовом сервисе</p>
          <p class="text for-what__text">Сотрудники работают продуктивнее, когда их&nbsp;не&nbsp;отвлекает лишняя информация</p>
        </div>
        <div class="for-what__item" data-reason-bg="5" data-aos="fade-up">
          <p class="text text--blue for-what__title">Получить надежный сервис техподдержки</p>
          <p class="text for-what__text">Мы&nbsp;ответим на&nbsp;все ваши вопросы и&nbsp;поможем решить технические проблемы</p>
        </div>
      </div>
    </div>
</section>
<section class="section section--onecolumn section--no-min-height section--bg-lightblue">
  <div class="container">
    <div class="section__inner section__inner--height-auto section__inner--no-padding">
      <div class="section__content">
        <p class="text text--fz-30 text--blue">Напишите нам, чтобы получить<br>корпоративную почту бизнес-класса</p>
        <div>
          {{ Macros.Btn('mailto:uc@stc-v.ru', 'btn--mt') }}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" data-section="6">
  <div class="container">
    <div class="section__inner">
      <div class="section__content">
        <h1 class="title title--size-extra" data-aos="fade-up">Ваш бизнес<br>будет защищен от&nbsp;шифровальщиков</h1>
        <div class="section__text-wrapper">
          <p class="text" data-aos="fade-up">Вирусы-шифровальщики способны заблокировать<br>доступ к&nbsp;файлам на&nbsp;компьютере.&nbsp;9&nbsp;из&nbsp;10&nbsp;заражений случается именно в&nbsp;почтовом сервисе.</p>
          <p class="text" data-aos="fade-up">Служба защиты в&nbsp;почте от&nbsp;Microsoft фильтрует нежелательную почту и&nbsp;вредоносные программы на&nbsp;основе репутационных списков и&nbsp;кластерной аналитики. Результат&nbsp;&mdash; в&nbsp;вашем ящике только проверенные, безопасные письма.</p>
        </div>
      </div>
    </div>
    <div class="section__stage stage stage--height">
      <img class="stage__object" data-obj="6" src="{{ 'stage6.png' | img_asset }}" alt="" data-aos="fade-left" data-aos-offset="200">
    </div>
  </div>
</section>
 <section class="section section--down-part">
  <div class="container">
    <div class="section__inner section__inner--height-auto section__inner--no-padding">
      <div class="section__content">
        <p class="text text--fz-30 text--blue">Не&nbsp;ждите, когда вирус проникнет в&nbsp;вашу корпоративную сеть.<br>Переходите на&nbsp;надежный почтовый сервис!</p>
        <div>
          {{ Macros.Btn('mailto:uc@stc-v.ru', 'btn--mt') }}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section--onecolumn section--no-min-height section--bg-lightblue">
  <div class="container">
    <div class="section__inner section__inner--height-auto section__inner--no-padding">
      <div class="section__content">
        <h2 class="title">Не&nbsp;уверены? Попробуйте бесплатно!</h2>
        <p class="text">Мы&nbsp;проведем демонстрацию и&nbsp;установим бесплатную версию<br>почтового сервиса на&nbsp;месяц.</p>
        <p class="text text--blue text--fz-24">Переход на&nbsp;новую почту с&nbsp;корпоративным<br>доменом&nbsp;&mdash; это просто и&nbsp;недорого!</p>
        <div>

          <a href="mailto:uc@stc-v.ru" class="btn btn--size-large btn--mt" target="_blank">Написать нам</a>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}